<%= @group.group_name %>
<% @entities.each do|entity| %>
    <%= entity.entity_name %>
<% end %>

<div><%= link_to 'Add a new transaction', new_group_entity_path(@group), class: 'footer-button' %>
</div>